<div *ngIf="!mainCar" class="mb-3">
  <label for="filterText" class="form-label" style="margin-left: 45%; font-weight: bold">ARABA ARA</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"
    placeholder="Arama ifadesi giriniz" />
</div>

<div *ngIf="filterText.length > 1 && !mainCar" class="alert alert-primary">
  {{ filterText }} aradınız
</div>
<div *ngIf="!mainCar" class="alert alert-warning" style="text-align: center;">
  <h5>Güncellemek istediğiniz aracı seçiniz.</h5>
</div>



<div style="clear: both;" class="row">
  <div class="col-md-3" *ngFor="let car of cars | filterPipe: filterText">
    <div class="card">
      <img src="https://localhost:44321/{{car.imagePath}}" class="card-img-top" width="375" height="209">
      <div class="card-body">
        <h5 class="card-title">{{ car.carName }}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Marka Adı : {{ car.brandName }} </li>
        <li class="list-group-item">Renk Adı : {{ car.colorName }} </li>
        <li class="list-group-item">Model Yılı : {{ car.modelYear }} </li>
        <li class="list-group-item">Günlük Fiyat : {{ car.dailyPrice | currency: "₺ " }} </li>
        <li class="list-group-item">Min Findeks : {{ car.minFindeks}} </li>
      </ul>
      <div class="card-body">
        <button *ngIf="!mainCar" routerLink="/cars/edit/{{ car.carId }}" type="button" class="btn"
          style="width: 100%;text-align: center;background-color: blueviolet;color: whitesmoke;">
          Düzenle
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="mainCar" class="col-md-9" style="clear: both;float: left;">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Araba güncelle</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="mb-3">
            <label for="brandName">Marka Adı</label>
            <div>
              <select class="form-select" [(ngModel)]="mainCar.brandId" [ngModelOptions]="{ standalone: true }">
                <option *ngFor="let brand of brands" value="{{ brand.brandId }}">
                  {{ brand.brandName }}
                </option>
              </select>
            </div>
          </div>
          <div class="mb-3">
            <label for="colorName">Renk Adı</label>
            <select class="form-select" [(ngModel)]="mainCar.colorId" [ngModelOptions]="{ standalone: true }">
              <option *ngFor="let color of colors" value="{{ color.colorId }}">
                {{ color.colorName }}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label for="modelYear">Model Yılı</label>
            <input type="number" [(ngModel)]="mainCar.modelYear" [ngModelOptions]="{ standalone: true }" id="modelYear"
              class="form-control" />
          </div>
          <div class="mb-3">
            <label for="dailyPrice">Günlük Fiyat</label>
            <input type="number" [(ngModel)]="mainCar.dailyPrice" [ngModelOptions]="{ standalone: true }"
              id="dailyPrice" class="form-control" />
          </div>
          <div class="mb-3">
            <label for="description">Araba Adı</label>
            <input type="text" [(ngModel)]="mainCar.description" [ngModelOptions]="{ standalone: true }"
              id="description" class="form-control" />
          </div>
          <div class="mb-3">
            <label for="description">Min. Findeks Puanı</label>
            <input type="number" [(ngModel)]="mainCar.minFindeks" [ngModelOptions]="{ standalone: true }"
              id="minFindeks" class="form-control" />
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-fill btn-warning" (click)="update()">
          Güncelle
        </button>
      </div>
    </div>
  </div>
</div>