<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" >Araç Kiralama Sistemi</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Ana Sayfa</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ekle
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="brands/add" style="font-weight: bold;">Marka Ekle</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="colors/add" style="font-weight: bold;">Renk Ekle</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="cars/add" style="font-weight: bold;">Araba Ekle</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Düzenle
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="brands/edit" style="font-weight: bold;">Marka Düzenle</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="colors/edit" style="font-weight: bold;">Renk Düzenle</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="cars/edit" style="font-weight: bold;">Araba Düzenle</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tablolar
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="rentals" style="font-weight: bold;">Kiralamalar</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="customers" style="font-weight: bold;">Müşteriler</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="cars" style="font-weight: bold;">Arabalar</a></li>
          </ul>
        </li>
      </ul>
      <div *ngIf="isAuthenticate == false">
        <button style="margin-right: 15px;" class="btn btn-success" routerLink="login">Giriş yap</button>
        <button style="margin-right: 15px;" class="btn btn-warning" routerLink="register">Kayıt</button>
      </div>
      <div class="dropdown" *ngIf="isAuthenticate == true" style="margin-right: 15px;">
        <button *ngIf="user" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          {{user.firstName}} {{user.lastName}}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" routerLink="myprofile">Bilgilerim</a></li>
          <li><a class="dropdown-item" (click)="logOut()">Çıkış yap</a></li>
        </ul>
      </div>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>