<div style="clear: both;" class="row">
  <div class="col-md-3">
    <div class="card">
      <img src="https://localhost:44321/{{mainCar.imagePath}}" class="card-img-top" width="375"
      height="209">
      <div class="card-body">
        <h5 class="card-title">{{ mainCar.carName }}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Marka Adı : {{ mainCar.brandName }} </li>
        <li class="list-group-item">Renk Adı : {{ mainCar.colorName }} </li>
        <li class="list-group-item">Model Yılı : {{ mainCar.modelYear }} </li>
        <li class="list-group-item">Günlük Fiyat : {{ mainCar.dailyPrice | currency: "₺ " }} </li>
        <li class="list-group-item">Min Findeks : {{ mainCar.minFindeks}} </li>
      </ul>
      <div class="card-body">
        <button *ngIf="mainCar" data-bs-toggle="modal" data-bs-target="#rentalModal" type="button"
          class="btn btn-warning" style="width: 100%;text-align: center;clear: both;float: right;">
          Kirala
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-9" style="clear: both;float: right;">
    <div *ngIf="rental.rentalId == 1" class="card" style="width: 60rem">
      <div class="card-header">Ödeme Bilgileri</div>
      <ul class="list-group list-group-flush">
        <table style="width: 100%">
          <td style="width: 80%">
            <tr>
              <span class="input-group-text">Toplam Fiyat</span>
            </tr>
            <tr>
              <span style="margin-top: 16px" class="input-group-text">Kayıtlı Kartlar</span>
            </tr>
            <tr *ngIf="creditCardId == 0">
              <span style="margin-top: 16px" class="input-group-text">Kart Sahibinin İsmi</span>
            </tr>
            <tr *ngIf="creditCardId == 0">
              <span style="margin-top: 16px" class="input-group-text">Kart Numarası</span>
            </tr>
            <tr *ngIf="creditCardId == 0">
              <span class="input-group-text" style="margin-top: 16px">Kart Bitiş Tarihi</span>
            </tr>
            <tr *ngIf="creditCardId == 0">
              <span class="input-group-text" style="margin-top: 16px">Güvenlik Kodu</span>
            </tr>
          </td>
          <td style="width: 20%">
            <tr>
              <div class="input-group mb-3">
                <input type="text" class="form-control" [placeholder]="
                    totalPrice(rental.rentDate, rental.returnDate) | currency: '₺'
                  " style="text-align: right" disabled />
              </div>
            </tr>
            <tr>
              <div class="form-group">
                <select class="form-select" [(ngModel)]="creditCardId" style="max-width: 100%; margin-bottom: 16px">
                  <option *ngFor="let creditCard of creditCards" value="{{ creditCard.id }}">
                    Kart No : {{ creditCard.cardNo }}
                  </option>
                  <option value="0"></option>
                </select>
              </div>
            </tr>
            <tr>
              <div class="input-group mb-3">
                <input *ngIf="creditCardId == 0" [(ngModel)]="creditCard.name" type="text" class="form-control"
                  placeholder="Kart Üzerindeki İsim" style="text-align: right" />
              </div>
            </tr>
            <tr>
              <div class="input-group mb-3">
                <input *ngIf="creditCardId == 0" [(ngModel)]="creditCard.cardNo" type="text" class="form-control"
                  placeholder="Kart Numarası" style="text-align: right" />
              </div>
            </tr>
            <tr>
              <div class="input-group mb-3">
                <input *ngIf="creditCardId == 0" [(ngModel)]="creditCard.expiringDate" type="text" class="form-control"
                  placeholder="Kart Bitiş Tarihi(AA/YY)" style="text-align: right" />
              </div>
            </tr>
            <tr>
              <div class="input-group mb-3">
                <input *ngIf="creditCardId == 0" [(ngModel)]="creditCard.cvv" type="text" maxlength="3"
                  class="form-control" placeholder="CVV(Güvenlik Kodu)" style="text-align: right" />
              </div>
            </tr>
            <tr>
              <div class="form-check" *ngIf="creditCardId == 0">
                <input type="checkbox" class="form-check-input" id="saveCard" [(ngModel)]="saveCard" />
                <label class="form-check-label" for="saveCard">Kartı kaydet</label>
              </div>
            </tr>
          </td>
        </table>
      </ul>
      <div class="card-footer">
        <button (click)="pay()" class="btn btn-danger" style="width: 250px; float: right"
          [disabled]="ifPaymentFilled()">
          Ödeme Yap
        </button>
      </div>
    </div>
    <div *ngIf="mainCar && rental.rentalId != 1" id="carouselExampleControls" class="carousel slide"
      data-bs-ride="carousel">
      <div class="carousel-inner">
        <div *ngFor="let carImage of carImages" [class]="getCarImageClass(carImage)">
          <img width="750" height="418" src="https://localhost:44321/{{ carImage.imagePath }}" />
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>


<div class="modal fade" id="rentalModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Kiralama Bilgileri</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table style="width: 100%">
          <td style="width: 60%">
            <tr>
              <span class="input-group-text">Günlük Fiyat</span>
            </tr>
            <tr>
              <span style="margin-top: 16px" class="input-group-text">Müşteri Seçiniz</span>
            </tr>
            <tr>
              <span class="input-group-text" style="margin-top: 16px">Kiralama Tarihi</span>
            </tr>
            <tr>
              <span class="input-group-text" style="margin-top: 16px">Teslim Tarihi</span>
            </tr>
          </td>
          <td style="width: 40%">
            <tr>
              <div class="input-group mb-3">
                <input *ngIf="mainCar" type="text" class="form-control"
                  placeholder="{{ mainCar.dailyPrice | currency: '₺ ' }}" aria-label="Username"
                  style="text-align: right" aria-describedby="basic-addon1" disabled />
              </div>
            </tr>
            <tr>
              <select style="max-width: 200px" class="form-select" aria-label="Default select example"
                [(ngModel)]="rental.customerId">
                <option *ngFor="let customer of customers" value="{{ customer.userId }}">
                  {{ customer.companyName }}
                </option>
              </select>
            </tr>
            <tr>
              <input [(ngModel)]="rental.rentDate" type="datetime-local" style="
                    text-align: center;
                    margin-top: 17px;
                    height: 36px;
                    border-radius: 4px;
                    border-width: 1px;
                    border-color: lightgray;
                  " />
            </tr>
            <tr>
              <input [(ngModel)]="rental.returnDate" type="datetime-local" style="
                    text-align: center;
                    margin-top: 18px;
                    height: 36px;
                    border-radius: 4px;
                    border-width: 1px;
                    border-color: lightgray;
                  " />
            </tr>
          </td>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Kapat
        </button>
        <button (click)="addRental(rental)" class="btn btn-primary" data-bs-dismiss="modal">
          Kirala
        </button>
      </div>
    </div>
  </div>
</div>