<div *ngIf="dataLoaded==false" class="spinner-border text-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <table *ngIf="dataLoaded!=false" class ="table table-bordered">
    <thead>
      <tr class="table-success">
        <th>Kiralama No</th>
        <th>Araba İsmi</th>
        <th>Müşteri</th>
        <th>Kiralama Tarihi</th>
        <th>Teslim Tarihi</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table" *ngFor="let rentalDetail of rentalDetails" >
        <td>{{ rentalDetail.rentalId }}</td>
        <td>{{ rentalDetail.brandName }}</td>
        <td>{{ rentalDetail.companyName }}</td>
        <td>{{ rentalDetail.rentDate }}</td>
        <td>{{ rentalDetail.returnDate }}</td>
      </tr>
    </tbody>

  </table>
  