<body class="text-center">
    <main class="form-signin">
      <form [formGroup]="loginForm">
        <h1 class="h3 mb-3 fw-normal">Kullanıcı Girişi</h1>
  
        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            formControlName="email"
            id="email"
          />
          <label for="email">E-posta</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            formControlName="password"
            id="password"
          />
          <label for="password">Parola</label>
        </div>
  
        <div style="float: left;" class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me" /> Remember me
          </label>
        </div>
        <div class="w-40 btn btn-sm btn-warning" routerLink="/register" id="registerButton">Kayıt ol</div>
        <button (click)="login()" class="w-100 btn btn-lg btn-primary">
          Giriş yap
        </button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
      </form>
    </main>
  </body>
  