.carousel {
  text-align: center;
}
.form-select {
  float: left;
  max-width: 25%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}
.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}
