.carousel {
    text-align: center;
}
.form-select{
    float: left;
    max-width: 25%;
  }
.table th{
    border-color: darkblue;
}
.table td{
    border-color: rgb(104, 104, 202);
}
.table tr{
    border-color: rgb(104, 104, 202);
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}