<div class="mb-3" *ngIf="!mainCar">
  <label for="filterText" class="form-label" style="margin-left: 45%; font-weight: bold">ARABA ARA</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"
    placeholder="Arama ifadesi giriniz" />
</div>

<div *ngIf="filterText.length > 1" class="alert alert-primary">
  {{ filterText }} aradınız
</div>

<div>
  <select *ngIf="!mainCar" class="form-select" [(ngModel)]="filterBrandId" aria-label="Default select example">
    <option *ngFor="let brand of brands" value="{{ brand.brandId }}">
      {{ brand.brandName }}
    </option>
    <option value="0">Tüm markalar</option>
  </select>
</div>
<div>
  <select *ngIf="!mainCar" style="margin-left: 10px" class="form-select" [(ngModel)]="filterColorId"
    aria-label="Default select example">
    <option *ngFor="let color of colors" value="{{ color.colorId }}">
      {{ color.colorName }}
    </option>
    <option value="0">Tüm renkler</option>
  </select>
</div>
<div>
  <button *ngIf="!mainCar" (click)="getCarsByFilter(filterBrandId, filterColorId)"
    style="float: left; margin-left: 25px; margin-bottom: 15px" type="button" class="btn btn-primary">
    Filtrele
  </button>
</div>

<div *ngIf="dataLoaded == false" class="spinner-border text-secondary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div style="clear: both;" class="row">
  <div class="col-md-3" *ngFor="let car of cars | filterPipe: filterText">
    <div class="card">
      <img src="https://localhost:44321/{{car.imagePath}}" class="card-img-top" width="375"
        height="209">
      <div class="card-body">
        <h5 class="card-title">{{ car.carName }}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Marka Adı : {{ car.brandName }} </li>
        <li class="list-group-item">Renk Adı : {{ car.colorName }} </li>
        <li class="list-group-item">Model Yılı : {{ car.modelYear }} </li>
        <li class="list-group-item">Günlük Fiyat : {{ car.dailyPrice | currency: "₺ " }} </li>
        <li class="list-group-item">Min Findeks : {{ car.minFindeks}} </li>
      </ul>
      <div class="card-body">
        <button *ngIf="!mainCar" routerLink="/cars/details/{{ car.carId }}" type="button" class="btn btn-primary"
          style="width: 100%;text-align: center;">
          Detaylar..
        </button>
        <button *ngIf="mainCar" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button"
          class="btn btn-warning" style="width: 100%;text-align: center;clear: both;float: right;">
          Kirala
        </button>
      </div>
    </div>
  </div>
</div>


