<div *ngIf="dataLoaded==false" class="spinner-border text-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <table *ngIf="dataLoaded!=false" class ="table table-bordered">
    <thead>
      <tr class="table-success">
        <th style="width: 20%;">Kullanıcı</th>
        <th>Müşteri Adı</th>
        <th style="width: 20%;">Müşteri Findeksi</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table" *ngFor="let customer of customers">
        <td>{{ customer.userId }}</td>
        <td>{{ customer.companyName }}</td>
        <td>{{ customer.findeks }}</td>
      </tr>
    </tbody>
  </table>
  